.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
coverage
docs
node_modules
tooling
out/test
out/**/*.spec*
gifs
webpack.config.js